@font-face {
    font-family: 'DIN Condensed';
    src: url('DINCondensed-Bold.eot');
    src: url('DINCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('DINCondensed-Bold.woff2') format('woff2'),
        url('DINCondensed-Bold.woff') format('woff'),
        url('DINCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

